<div class="space-y-6 mt-4">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
    <div>
      <h1 class="text-2xl font-bold tracking-tight"><%= header %></h1>
      <p class="text-gray-600"><%= subheader %></p>
    </div>
  </div>

  <div class="space-y-6 mt-4">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <%= form_with url: url,
                    method: :get,
                    data: { turbo_frame: turbo_frame },
                    class: "flex items-center gap-4" do |form| %>
        <label class="input">
          <i data-lucide="search" class="w-5 h-5 text-gray-400"></i>
          <%= form.text_field :search, type: :search, value: params[:search], placeholder: placeholder%>
        </label>

        <div>
          <%= button_tag type: "submit", class: "btn btn-neutral" do %>
            <i data-lucide="filter" class="lucide lucide-filter h-4 w-4"></i>
            Apply
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
