<aside
  data-sidebar-target="sidebar"
  class="shadow-xl transition-all duration-300 ease-in-out w-64 h-screen overflow-y-auto hidden md:flex flex-col"
>
  <div class="p-6 flex items-center justify-between">
    <div data-sidebar-target="label" class="h-[40px] flex items-center justify-center transition-opacity duration-300" >
      <%= image_tag("/logo.png", alt: "Logo") %>
    </div>
  </div>

  <div class="flex-1 py-6 flex flex-col gap-1">
    <div data-sidebar-target="label"
    class="px-6 py-2 text-xs font-bold text-primary-content/80 uppercase tracking-wider">Manager</div>
    <ul class="mt-2">
      <% sidebar_links.each do |link| %>
        <% active = current_page?(link[:path]) %>
        <li>
          <%= link_to link[:path], class: "text-gray-600 flex items-center gap-2 p-4 mx-2 rounded-md text-sm font-medium
        transition-colors #{active ? 'bg-primary/10 text-primary' : 'hover:bg-primary/10 hover:text-primary'}" do %>
            <i data-lucide="<%= link[:icon] %>" class="w-5 h-5 mr-3 sidebar-icon"></i>
            <span data-sidebar-target="label" class="transition-opacity duration-300"><%= link[:name] %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="p-4">
    <div class="flex items-center gap-3">
      <div class="avatar avatar-online avatar-placeholder">
        <div class="bg-neutral text-neutral-content w-10 rounded-full">
          <span class="text-xl">AI</span>
        </div>
      </div>
      <div data-sidebar-target="label" class="font-medium text-sm truncate">
        <%= current_user.email %>
      </div>
    </div>
  </div>
</aside>
