<div class="space-y-6">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
    <div>
      <h1 class="text-2xl font-bold tracking-tight">Crawl Data Sources</h1>
      <p class="text-gray-600">Manage data sources to gather potential customer information</p>
    </div>
    <button class="btn bg-black text-white border-black" onclick="my_modal_2.showModal()">
      <i data-lucide="plus" class="size-5"></i>
      Add Crawl Source
    </button>
    <dialog id="my_modal_2" class="modal">
        <div class="modal-box max-w-lg sm:max-w-[700px]">
          <div class="flex flex-col space-y-1.5 text-center sm:text-left">
            <h2 class="text-lg font-semibold leading-none tracking-tight">Add a Data Source to Crawl</h2>
            <p class="text-sm text-gray-600">Enter the URL or API endpoint to collect data about potential customers</p>
          </div>
          <div class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2
          focus-visible:ring-ring focus-visible:ring-offset-2 space-y-4 py-4">
            <%= form_with url: admin_crawl_sources_path, method: :post, local: false, class: "space-y-4" do |f| %>
              <div class="space-y-2">
                <fieldset class="fieldset">
                  <legend class="fieldset-legend">Source URL</legend>
                  <%= f.text_field :source_url, class: "input w-full", required: true,
                  placeholder: "https://example.com/data" %>
                </fieldset>
              </div>

              <div class="space-y-2">
                <fieldset class="fieldset">
                  <legend class="fieldset-legend">Source Type</legend>
                  <%= f.select :source_type, CrawlSource.source_types.keys, { prompt: "Source Type" },
                  { class: "select w-full" } %>
                </fieldset>
              </div>

              <div class="space-y-2">
                <fieldset class="fieldset">
                  <legend class="fieldset-legend">Description</legend>
                  <%= f.text_area :description, class: "textarea h-24 w-full", placeholder: "Short description..." %>
                </fieldset>
              </div>

              <div class="space-y-2">
                <fieldset class="fieldset">
                  <legend class="fieldset-legend">Advance Settings</legend>
                  <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
                    <div class="flex items-center justify-between p-6 pt-6 space-y-4">
                    <div class="space-y-0.5">
                      <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed 
                      peer-disabled:opacity-70">
                        Auto Schedule
                      </label>
                      <p class="text-xs text-gray-600">Automatically crawl data on a scheduled basis</p>
                    </div>
                    <%= f.checkbox :schedule_now, class: "toggle", value: :false %>
                  </div>
                  </div>
                </fieldset>
              </div>

              <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2">
                <%= f.submit "Crawl Data", class: "btn bg-black text-white border-black" %>
              </div>
            <% end %>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
    </dialog>
  </div>

  <div class="space-y-4">
    <div role="tablist" class="tabs tabs-box">
          <%= link_to "Data Sources", admin_crawl_sources_path,
          class: "tab #{current_page?(admin_crawl_sources_path) ? 'tab-active' : ''}" %>
          <%= link_to "Pending Approval", pending_admin_crawl_sources_path,
          class: "tab #{current_page?(pending_admin_crawl_sources_path) ? 'tab-active' : ''}" %>
          <%= link_to "Crawl History", "",
          class: "tab #{current_page?("") ? 'tab-active' : ''}" %>
    </div>
    <% if current_page?(pending_admin_crawl_sources_path) %>
      <%= render 'pending' %>
    <% end %>
  </div>
</div>
