<div class="space-y-6">
  <%= render 'shared/lead_generation_filter',
            header: "Email Outreach",
            subheader: "Write personalized emails and messages with AI",
            url: admin_emails_path,
            turbo_frame: "emails_turbo_frame",
            placeholder: "Search emails, recipients..."
  %>
    <div class="space-y-4">
      <%= render partial: "shared/tabs", locals: {
        tabs: [
          { label: "Compose emails", path: admin_emails_path },
          { label: "Email campaigns", path: admin_emails_path },
          { label: "Effective analysis", path: admin_emails_path }
        ]
      } %>

      <div class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring 
      focus-visible:ring-offset-2 space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          <%= render 'admin/emails/compose_emails' %>
          <%= render 'admin/emails/suggestion_emails'%>
        </div>
        <%= render 'admin/emails/history_emails' %>
      </div>
    </div>
</div>
